In [1]:
import pandas as pd

In [2]:
gizi_kurang = pd.read_csv('bayi_gizi_kurang.csv')
gizi_buruk = pd.read_csv('bayi_gizi_buruk.csv')
status_kelahiran = pd.read_csv('../data_kelahiran_bayi.csv')

In [3]:
gizi_kurang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   54 non-null     int64
 1   kode_provinsi        54 non-null     int64
 2   nama_provinsi        54 non-null     object
 3   kode_kabupaten_kota  54 non-null     int64
 4   nama_kabupaten_kota  54 non-null     object
 5   jumlah_balita        54 non-null     int64
 6   satuan               54 non-null     object
 7   tahun                54 non-null     int64
dtypes: int64(5), object(3)
memory usage: 3.5+ KB

In [4]:
gizi_buruk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   81 non-null     int64
 1   kode_provinsi        81 non-null     int64
 2   nama_provinsi        81 non-null     object
 3   kode_kabupaten_kota  81 non-null     int64
 4   nama_kabupaten_kota  81 non-null     object
 5   jumlah_bayi          81 non-null     int64
 6   satuan               81 non-null     object
 7   tahun                81 non-null     int64
dtypes: int64(5), object(3)
memory usage: 5.2+ KB

In [5]:
status_kelahiran.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,status_kelahiran,jenis_kelamin,jumlah_kelahiran,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,HIDUP,LAKI-LAKI,61740,JIWA,2012
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,HIDUP,PEREMPUAN,49720,JIWA,2012
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,MATI,LAKI-LAKI,36,JIWA,2012
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,MATI,PEREMPUAN,47,JIWA,2012
4,5,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,HIDUP,LAKI-LAKI,22812,JIWA,2012

In [6]:
# DROP KOLOM YANG TIDAK DIBUTUHKAN DARI DATASET
gizi_kurang.drop(['kode_provinsi', 'nama_provinsi', 'satuan'], axis=1, inplace=True)
gizi_buruk.drop(['kode_provinsi', 'nama_provinsi', 'satuan'], axis=1, inplace=True)
status_kelahiran.drop(['kode_provinsi', 'nama_provinsi', 'satuan'], axis=1, inplace=True)

In [7]:
# AMBIL TAHUN >=2017 DARI DATASET 
gizi_buruk = gizi_buruk[gizi_buruk['tahun'] >=2017]
status_kelahiran = status_kelahiran[status_kelahiran['status_kelahiran'] == 'HIDUP']
status_kelahiran = status_kelahiran[status_kelahiran['tahun'] >=2017]

In [8]:
# LAKUKAN GROUPING DATA UNTUK MENENTUKAN JUMLAH DATA KELAHIRAN
gizi_kurang = gizi_kurang.groupby(['tahun', 'kode_kabupaten_kota','nama_kabupaten_kota'])['jumlah_balita'].sum().reset_index()
gizi_buruk = gizi_buruk.groupby(['tahun', 'kode_kabupaten_kota','nama_kabupaten_kota'])['jumlah_bayi'].sum().reset_index()
status_kelahiran = status_kelahiran.groupby(['tahun', 'kode_kabupaten_kota','nama_kabupaten_kota'])['jumlah_kelahiran'].sum().reset_index()

In [9]:
gizi_kurang.head(2)

   tahun  kode_kabupaten_kota nama_kabupaten_kota  jumlah_balita
0   2020                 3201     KABUPATEN BOGOR          21322
1   2020                 3202  KABUPATEN SUKABUMI           8838

In [10]:
gizi_buruk.head(2)

   tahun  kode_kabupaten_kota nama_kabupaten_kota  jumlah_bayi
0   2017                 3201     KABUPATEN BOGOR         3120
1   2017                 3202  KABUPATEN SUKABUMI         2546

In [11]:
status_kelahiran.head(2)

   tahun  kode_kabupaten_kota nama_kabupaten_kota  jumlah_kelahiran
0   2017                 3201     KABUPATEN BOGOR            121415
1   2017                 3202  KABUPATEN SUKABUMI             46239

In [12]:
data_gizi = pd.merge(gizi_buruk, gizi_kurang, how='outer', on =['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'])

In [13]:
data_gizi

,tahun,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_bayi,jumlah_balita
0,2017,3201,KABUPATEN BOGOR,3120.0,NaN
1,2017,3202,KABUPATEN SUKABUMI,2546.0,NaN
2,2017,3203,KABUPATEN CIANJUR,1808.0,NaN
3,2017,3204,KABUPATEN BANDUNG,611.0,NaN
4,2017,3205,KABUPATEN GARUT,195.0,NaN
...,...,...,...,...,...
103,2021,3275,KOTA BEKASI,NaN,5662.0
104,2021,3276,KOTA DEPOK,NaN,2397.0
105,2021,3277,KOTA CIMAHI,NaN,1221.0
106,2021,3278,KOTA TASIKMALAYA,NaN,3766.0
107,2021,3279,KOTA BANJAR,NaN,603.0

In [14]:
final_data = pd.merge(status_kelahiran, data_gizi, how='outer', on =['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'])

In [15]:
final_data

,tahun,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_kelahiran,jumlah_bayi,jumlah_balita
0,2017,3201,KABUPATEN BOGOR,121415.0,3120.0,NaN
1,2017,3202,KABUPATEN SUKABUMI,46239.0,2546.0,NaN
2,2017,3203,KABUPATEN CIANJUR,42713.0,1808.0,NaN
3,2017,3204,KABUPATEN BANDUNG,69205.0,611.0,NaN
4,2017,3205,KABUPATEN GARUT,52965.0,195.0,NaN
...,...,...,...,...,...,...
128,2021,3275,KOTA BEKASI,NaN,NaN,5662.0
129,2021,3276,KOTA DEPOK,NaN,NaN,2397.0
130,2021,3277,KOTA CIMAHI,NaN,NaN,1221.0
131,2021,3278,KOTA TASIKMALAYA,NaN,NaN,3766.0
132,2021,3279,KOTA BANJAR,NaN,NaN,603.0

In [27]:
final_data['tahun']= pd.to_datetime(final_data['tahun'], format= '%Y')

final_data.index.name = "nomor"

In [29]:
final_data.to_csv('GBGK_2017_2021.csv')

In [20]:
geomaps = pd.read_csv('../POLYGON_JABAR.csv', sep=';')

In [24]:
geomaps

,Cc 2,Engtype 2,Gid 0,Gid 1,Gid 2,Hasc 2,Kab/Kota,Negara,Nl Name 1,Nl Name 2,Provinsi,Type 2,Varname 2,Geometry,Kab/Kota.1
0,3204,Regency,IDN,IDN.9_1,IDN.9.2_1,ID.JR.BU,Bandung,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Bandung
1,3217,Regency,IDN,IDN.9_1,IDN.9.1_1,ID.JR.BB,Bandung Barat,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Bandung barat
2,3279,City,IDN,IDN.9_1,IDN.9.3_1,ID.JR.BA,Banjar,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kabupaten Banjar
3,3216,Regency,IDN,IDN.9_1,IDN.9.4_1,ID.JR.BS,Bekasi,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Bekasi
4,3201,Regency,IDN,IDN.9_1,IDN.9.5_1,ID.JR.BR,Bogor,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Bogor
5,3207,Regency,IDN,IDN.9_1,IDN.9.6_1,ID.JR.CS,Ciamis,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Ciamis
6,3203,Regency,IDN,IDN.9_1,IDN.9.7_1,ID.JR.CJ,Cianjur,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Cianjur
7,3277,City,IDN,IDN.9_1,IDN.9.8_1,ID.JR.CI,Cimahi,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kabupaten Cimahi
8,3209,Regency,IDN,IDN.9_1,IDN.9.9_1,ID.JR.CR,Cirebon,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,MultiPolygon,Kabupaten Cirebon
9,3276,City,IDN,IDN.9_1,IDN.9.10_1,ID.JR.DE,Depok,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kabupaten Depok
10,3205,Regency,IDN,IDN.9_1,IDN.9.11_1,ID.JR.GA,Garut,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Garut
11,3212,Regency,IDN,IDN.9_1,IDN.9.12_1,ID.JR.IN,Indramayu,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,MultiPolygon,Kabupaten Indramayu
12,3215,Regency,IDN,IDN.9_1,IDN.9.13_1,ID.JR.KA,Karawang,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Karawan
13,3273,City,IDN,IDN.9_1,IDN.9.14_1,ID.JR.BN,Kota Bandung,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,MultiPolygon,Kota Bandung
14,3275,City,IDN,IDN.9_1,IDN.9.15_1,ID.JR.BK,Kota Bekasi,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kota Bekasi
15,3271,City,IDN,IDN.9_1,IDN.9.16_1,ID.JR.BG,Kota Bogor,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kota Bogor
16,3274,City,IDN,IDN.9_1,IDN.9.17_1,ID.JR.CM,Kota Cirebon,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kota Cirebon
17,3272,City,IDN,IDN.9_1,IDN.9.18_1,ID.JR.SM,Kota Sukabumi,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kota Sukabumi
18,3278,City,IDN,IDN.9_1,IDN.9.19_1,ID.JR.TM,Kota Tasikmalaya,Indonesia,NaN,NaN,Jawa Barat,Kota,NaN,Polygon,Kota Tasikmalaya
19,3208,Regency,IDN,IDN.9_1,IDN.9.20_1,ID.JR.KU,Kuningan,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Kuningan
20,3210,Regency,IDN,IDN.9_1,IDN.9.21_1,ID.JR.MA,Majalengka,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Majalengka
21,3214,Regency,IDN,IDN.9_1,IDN.9.22_1,ID.JR.PU,Purwakarta,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Purwakarta
22,3213,Regency,IDN,IDN.9_1,IDN.9.23_1,ID.JR.SB,Subang,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,MultiPolygon,Kabupaten Subang
23,3202,Regency,IDN,IDN.9_1,IDN.9.24_1,ID.JR.SR,Sukabumi,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Sukabumi
24,3211,Regency,IDN,IDN.9_1,IDN.9.25_1,ID.JR.SD,Sumedang,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,Polygon,Kabupaten Sumedang
25,3206,Regency,IDN,IDN.9_1,IDN.9.26_1,ID.JR.TA,Tasikmalaya,Indonesia,NaN,NaN,Jawa Barat,Kabupaten,NaN,MultiPolygon,Kabupaten Tasikmalaya
26,3288,Water Body,IDN,IDN.9_1,IDN.9.27_1,NaN,Waduk Cirata,Indonesia,NaN,NaN,Jawa Barat,Water Body,NaN,Polygon,NaN

In [30]:
# geomaps.to_csv('maps_jabar.csv')